@charset "UTF-8";

/* estilo pra tela diferente */

 @media print{ 
    body {
        background-image: url(../imagens/back-print.jpg);
        font-family: 'Courier New', Courier, monospace;
        color: black;
        border: 2px solid black;
        text-align: center;
    }
    img#celular {
        display: none;
     }
     img#tablet {
         display: none;
     }
     img#print {
         display: inline-block;
     }
     img#pc {
         display: none;
     }
     img#tv {
         display: none;
     }
}

 @media screen and (min-width:769px) and (max-width:992px) {  
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    main {
        text-align: center;
    }
    img#celular {
        display: none; 
     }
     img#tablet {
       display: inline-block;
     }
     img#print {
         display: none;
     }
     img#pc {
         display: none;
     }
     img#tv {
         display: none;
     }

    /* para tablet */
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#celular {
        display: none;
     }
     img#tablet {
         display: none;
     }
     img#print {
         display: none;
     }
     img#pc {
         display: inline-block;
     }
     img#tv {
         display: none;
     }
}
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#celular {
        display: none;
     }
     img#tablet {
         display: none;
     }
     img#print {
         display: none;
     }
     img#pc {
         display: none;
     }
     img#tv {
         display: inline-block;
     }
}